
.ABAP{
    background: #E8274B;
}
.ActionScript{
    background: #882B0F;
}
.Ada{
    background: #02f88c;
}
.Agda{
    background: #315665;
}
.AGS_Script{
    background: #B9D9FF;
}
.Alloy{
    background: #64C800;
}
.AMPL{
    background: #E6EFBB;
}
.AngelScript{
    background: #C7D7DC;
}
.ANTLR{
    background: #9DC3FF;
}
.API_Blueprint{
    background: #2ACCA8;
}
.APL{
    background: #5A8164;
}
.AppleScript{
    background: #101F1F;
}
.Arc{
    background: #aa2afe;
}
.ASP{
    background: #6a40fd;
}
.AspectJ{
    background: #a957b0;
}
.Assembly{
    background: #6E4C13;
}
.ATS{
    background: #1ac620;
}
.AutoHotkey{
    background: #6594b9;
}
.AutoIt{
    background: #1C3552;
}
.Ballerina{
    background: #FF5000;
}
.Batchfile{
    background: #C1F12E;
}
.BlitzMax{
    background: #cd6400;
}
.Boo{
    background: #d4bec1;
}
.Brainfuck{
    background: #2F2530;
}
.C{
    background: #555555;
}
.C{
    background: #178600;
}
.Ceylon{
    background: #dfa535;
}
.Chapel{
    background: #8dc63f;
}
.Cirru{
    background: #ccccff;
}
.Clarion{
    background: #db901e;
}
.Clean{
    background: #3F85AF;
}
.Click{
    background: #E4E6F3;
}
.Clojure{
    background: #db5855;
}
.CoffeeScript{
    background: #244776;
}
.ColdFusion{
    background: #ed2cd6;
}
.Common_Lisp{
    background: #3fb68b;
}
.Common_Workflow_Language{
    background: #B5314C;
}
.Component_Pascal{
    background: #B0CE4E;
}
.Crystal{
    background: #776791;
}
.CSS{
    background: #563d7c;
}
.Cuda{
    background: #3A4E3A;
}
.D{
    background: #ba595e;
}
.Dart{
    background: #00B4AB;
}
.DataWeave{
    background: #003a52;
}
.DM{
    background: #447265;
}
.Dockerfile{
    background: #0db7ed;
}
.Dogescript{
    background: #cca760;
}
.Dylan{
    background: #6c616e;
}
.E{
    background: #ccce35;
}
.eC{
    background: #913960;
}
.ECL{
    background: #8a1267;
}
.Eiffel{
    background: #946d57;
}
.Elixir{
    background: #6e4a7e;
}
.Elm{
    background: #60B5CC;
}
.Emacs_Lisp{
    background: #c065db;
}
.EmberScript{
    background: #FFF4F3;
}
.EQ{
    background: #a78649;
}
.Erlang{
    background: #B83998;
}
.F{
    background: #b845fc;
}
.Factor{
    background: #636746;
}
.Fancy{
    background: #7b9db4;
}
.Fantom{
    background: #14253c;
}
.FLUX{
    background: #88ccff;
}
.Forth{
    background: #341708;
}
.Fortran{
    background: #4d41b1;
}
.FreeMarker{
    background: #0050b2;
}
.Frege{
    background: #00cafe;
}
.Game_Maker_Language{
    background: #8fb200;
}
.Genie{
    background: #fb855d;
}
.Gherkin{
    background: #5B2063;
}
.Glyph{
    background: #e4cc98;
}
.Gnuplot{
    background: #f0a9f0;
}
.Go{
    background: #375eab;
}
.Golo{
    background: #88562A;
}
.Gosu{
    background: #82937f;
}
.Grammatical_Framework{
    background: #79aa7a;
}
.Groovy{
    background: #e69f56;
}
.Hack{
    background: #878787;
}
.Harbour{
    background: #0e60e3;
}
.Haskell{
    background: #5e5086;
}
.Haxe{
    background: #df7900;
}
.HiveQL{
    background: #dce200;
}
.HTML{
    background: #e34c26;
}
.Hy{
    background: #7790B2;
}
.IDL{
    background: #a3522f;
}
.Idris{
    background: #b30000;
}
.Io{
    background: #a9188d;
}
.Ioke{
    background: #078193;
}
.Isabelle{
    background: #FEFE00;
}
.J{
    background: #9EEDFF;
}
.Java{
    background: #b07219;
}
.JavaScript{
    background: #f1e05a;
}
.Jolie{
    background: #843179;
}
.JSONiq{
    background: #40d47e;
}
.Julia{
    background: #a270ba;
}
.Jupyter_Notebook{
    background: #DA5B0B;
}
.Kotlin{
    background: #F18E33;
}
.KRL{
    background: #28431f;
}
.Lasso{
    background: #999999;
}
.Lex{
    background: #DBCA00;
}
.LFE{
    background: #4C3023;
}
.LiveScript{
    background: #499886;
}
.LLVM{
    background: #185619;
}
.LOLCODE{
    background: #cc9900;
}
.LookML{
    background: #652B81;
}
.LSL{
    background: #3d9970;
}
.Lua{
    background: #000080;
}
.Makefile{
    background: #427819;
}
.Mask{
    background: #f97732;
}
.Matlab{
    background: #e16737;
}
.Max{
    background: #c4a79c;
}
.MAXScript{
    background: #00a6a6;
}
.Mercury{
    background: #ff2b2b;
}
.Meson{
    background: #007800;
}
.Metal{
    background: #8f14e9;
}
.Mirah{
    background: #c7a938;
}
.MQL4{
    background: #62A8D6;
}
.MQL5{
    background: #4A76B8;
}
.MTML{
    background: #b7e1f4;
}
.NCL{
    background: #28431f;
}
.Nearley{
    background: #990000;
}
.Nemerle{
    background: #3d3c6e;
}
.nesC{
    background: #94B0C7;
}
.NetLinx{
    background: #0aa0ff;
}
.NetLinx+ERB{
    background: #747faa;
}
.NetLogo{
    background: #ff6375;
}
.NewLisp{
    background: #87AED7;
}
.Nextflow{
    background: #3ac486;
}
.Nim{
    background: #37775b;
}
.Nit{
    background: #009917;
}
.Nix{
    background: #7e7eff;
}
.Nu{
    background: #c9df40;
}
.Objective-C{
    background: #438eff;
}
.Objective-C{
    background: #6866fb;
}
.Objective-J{
    background: #ff0c5a;
}
.OCaml{
    background: #3be133;
}
.Omgrofl{
    background: #cabbff;
}
.ooc{
    background: #b0b77e;
}
.Opal{
    background: #f7ede0;
}
.Oxygene{
    background: #cdd0e3;
}
.Oz{
    background: #fab738;
}
.P4{
    background: #7055b5;
}
.Pan{
    background: #cc0000;
}
.Papyrus{
    background: #6600cc;
}
.Parrot{
    background: #f3ca0a;
}
.Pascal{
    background: #E3F171;
}
.PAWN{
    background: #dbb284;
}
.Pep8{
    background: #C76F5B;
}
.Perl{
    background: #0298c3;
}
.Perl_6{
    background: #0000fb;
}
.PHP{
    background: #4F5D95;
}
.PigLatin{
    background: #fcd7de;
}
.Pike{
    background: #005390;
}
.PLSQL{
    background: #dad8d8;
}
.PogoScript{
    background: #d80074;
}
.PostScript{
    background: #da291c;
}
.PowerBuilder{
    background: #8f0f8d;
}
.PowerShell{
    background: #012456;
}
.Processing{
    background: #0096D8;
}
.Prolog{
    background: #74283c;
}
.Propeller_Spin{
    background: #7fa2a7;
}
.Puppet{
    background: #302B6D;
}
.PureBasic{
    background: #5a6986;
}
.PureScript{
    background: #1D222D;
}
.Python{
    background: #3572A5;
}
.q{
    background: #0040cd;
}
.QML{
    background: #44a51c;
}
.R{
    background: #198CE7;
}
.Racket{
    background: #22228f;
}
.Ragel{
    background: #9d5200;
}
.RAML{
    background: #77d9fb;
}
.Rascal{
    background: #fffaa0;
}
.Rebol{
    background: #358a5b;
}
.Red{
    background: #f50000;
}
.RenPy{
    background: #ff7f7f;
}
.Ring{
    background: #0e60e3;
}
.Roff{
    background: #ecdebe;
}
.Rouge{
    background: #cc0088;
}
.Ruby{
    background: #701516;
}
.RUNOFF{
    background: #665a4e;
}
.Rust{
    background: #dea584;
}
.SaltStack{
    background: #646464;
}
.SAS{
    background: #B34936;
}
.Scala{
    background: #c22d40;
}
.Scheme{
    background: #1e4aec;
}
.sed{
    background: #64b970;
}
.Self{
    background: #0579aa;
}
.Shell{
    background: #89e051;
}
.Shen{
    background: #120F14;
}
.Slash{
    background: #007eff;
}
.Smalltalk{
    background: #596706;
}
.Solidity{
    background: #AA6746;
}
.SourcePawn{
    background: #5c7611;
}
.SQF{
    background: #3F3F3F;
}
.Squirrel{
    background: #800000;
}
.SRecode_Template{
    background: #348a34;
}
.Stan{
    background: #b2011d;
}
.Standard_ML{
    background: #dc566d;
}
.SuperCollider{
    background: #46390b;
}
.Swift{
    background: #ffac45;
}
.SystemVerilog{
    background: #DAE1C2;
}
.Tcl{
    background: #e4cc98;
}
.Terra{
    background: #00004c;
}
.TeX{
    background: #3D6117;
}
.TI_Program{
    background: #A0AA87;
}
.Turing{
    background: #cf142b;
}
.TypeScript{
    background: #2b7489;
}
.UnrealScript{
    background: #a54c4d;
}
.Vala{
    background: #fbe5cd;
}
.VCL{
    background: #0298c3;
}
.Verilog{
    background: #b2b7f8;
}
.VHDL{
    background: #adb2cb;
}
.Vim_script{
    background: #199f4b;
}
.Visual_Basic{
    background: #945db7;
}
.Volt{
    background: #1F1F1F;
}
.Vue{
    background: #2c3e50;
}
.wdl{
    background: #42f1f4;
}
.WebAssembly{
    background: #04133b;
}
.wisp{
    background: #7582D1;
}
.X10{
    background: #4B6BEF;
}
.xBase{
    background: #403a40;
}
.XC{
    background: #99DA07;
}
.XQuery{
    background: #5232e7;
}
.XSLT{
    background: #EB8CEB;
}
.Yacc{
    background: #4B6C4B;
}
.Zephir{
    background: #118f9e;
}
