body{
    background: #eee;
}
html, body, .full-height{
    height: 100%;
}
.asside, .content{
    overflow-y: auto;
}
.asside{
    width: 250px;
    float: left;
    background: #f8f9fa;
    margin-left: -15px;
    margin-right: 15px;
    padding: 10px;
}
.content{
    width: calc(100% - 250px);
    background: white;
    padding: 10px;
}
.full-height-nav{
    height: calc(100% - 56px);
}
.nav-container {
    box-shadow: 8px 4px 3px #ccc;
}
.full-height-nav.container {
    margin-top: 5px;
    box-shadow: 2px 5px 8px 2px #ccc;
    background: white;
}
.round-2{
    border-radius: 6px !important;
}
.vcard-fullname {
    font-size: 26px;
    line-height: 30px;
}
.d-block {
    display: block !important;
}
.overflow-hidden {
    overflow: hidden !important;
}
.vcard-username {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #666;
}
.vcard-names {
    line-height: 1;
}
.user-profile-bio {
    margin-bottom: 12px;
    overflow: hidden;
    font-size: 14px;
    color: #6a737d;
}
.d-inline-block {
    display: inline-block !important;
}
.mb-3 {
    margin-bottom: 16px !important;
}
.vcard-details {
    list-style: none;
}
.py-3 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}
.border-gray-light {
    border-color: #eaecef !important;
}
.border-top {
    border-top: 1px #e1e4e8 solid !important;
}
.vcard-details .css-truncate.css-truncate-target {
    width: 100%;
    max-width: 100%;
}
.css-truncate.css-truncate-target, .css-truncate .css-truncate-target {
    display: inline-block;
    max-width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
}
.vcard-details .css-truncate.css-truncate-target div {
    overflow: hidden;
    text-overflow: ellipsis;
}
.vcard-detail {
    padding-left: 22px;
    font-size: 14px;
}
.pt-1 {
    padding-top: 4px !important;
}
.vcard-detail .octicon {
    float: left;
    width: 16px;
    margin-top: 3px;
    margin-left: -24px;
    color: #6a737d;
    text-align: center;
}
.vcard-detail .octicon {
    margin-left: -22px;
}
ul.vcard-details.border-top.border-gray-light.py-3{
    padding-left: 0;
}
.repo-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.muted-link:hover {
    color: #0366d6 !important;
    text-decoration: none;
}
.muted-link {
    color: #586069 !important;
}
.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}
.octicon {
    vertical-align: text-bottom;
}
.pr-4 {
    padding-right: 24px !important;
}
.text-gray {
    color: #586069 !important;
}
.text-normal {
    font-weight: 400 !important;
}
.mb-1 {
    margin-bottom: 4px !important;
}
.py-1 {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}