<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href="//netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Github Starred Repos</title>
    <link href="./css/style.css" rel="stylesheet" />
    <link href="./css/github-colors.css" rel="stylesheet" />
  </head>
  <body>
    <noscript>
      <strong>We're sorry but assigment-front doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app" class="full-height"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
