<template>
    <div  class="full-height">
        <div v-if="alert.message" :class="`alert ${alert.type}`">{{alert.message}}</div>
        <router-view></router-view>
    </div>
</template>
<style>
  html,body,.jumbotron{
    height: 100%;
  }
  .jumbotron{
    margin: 0;
  }
</style>

<script>
import { mapState, mapActions } from 'vuex'
export default {
    name: 'app',
    computed: {
        ...mapState({
            alert: state => state.alert
        })
    },
    methods: {
        ...mapActions({
            clearAlert: 'alert/clear' 
        })
    },
    watch: {
        $route (to, from){
            // clear alert on location change
            this.clearAlert();
        }
    } 
};
</script>