<template>
    <div  class="full-height">
        <div class="nav-container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <router-link class="navbar-brand" to="/">Node+Vue Assigment</router-link>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <router-link to="/login" class="nav-link disabled" >Logout</router-link>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="container full-height-nav">
            <div class="asside full-height">
                <em v-if="profile.loading">Loading profile...</em>
                <div v-if="!profile.loading">
                    <img alt="" width="230" height="230" class="avatar width-full rounded-2" :src=profile.profile.avatar_url>
                    <h1 class="vcard-names">
                        <span class="p-name vcard-fullname d-block overflow-hidden">{{profile.profile.name}}</span>
                        <span class="p-nickname vcard-username d-block">{{profile.profile.login}}</span>
                    </h1>
                    <div class="p-note user-profile-bio js-user-profile-bio mb-3">
                        <div class="d-inline-block mb-3 js-user-profile-bio-contents">
                            <div>{{profile.profile.bio}}</div>
                        </div>
                    </div>
                    <ul class="vcard-details border-top border-gray-light py-3">
                        <li aria-label="Organization" class="vcard-detail pt-1 css-truncate css-truncate-target">
                            <svg class="octicon octicon-organization" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M16 12.999c0 .439-.45 1-1 1H7.995c-.539 0-.994-.447-.995-.999H1c-.54 0-1-.561-1-1 0-2.634 3-4 3-4s.229-.409 0-1c-.841-.621-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.442.58 2.5 3c.058 2.41-.159 2.379-1 3-.229.59 0 1 0 1s1.549.711 2.42 2.088C9.196 9.369 10 8.999 10 8.999s.229-.409 0-1c-.841-.62-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.437.581 2.495 3c.059 2.41-.158 2.38-1 3-.229.59 0 1 0 1s3.005 1.366 3.005 4z"></path></svg>
                            <span class="p-org"><div>{{profile.profile.company}}</div></span>
                        </li>
                        <li aria-label="Home location" class="vcard-detail pt-1 css-truncate css-truncate-target">
                            <svg class="octicon octicon-location" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M6 0C2.69 0 0 2.5 0 5.5 0 10.02 6 16 6 16s6-5.98 6-10.5C12 2.5 9.31 0 6 0zm0 14.55C4.14 12.52 1 8.44 1 5.5 1 3.02 3.25 1 6 1c1.34 0 2.61.48 3.56 1.36.92.86 1.44 1.97 1.44 3.14 0 2.94-3.14 7.02-5 9.05zM8 5.5c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"></path></svg>
                            <span class="p-label">{{profile.profile.location}}</span>
                        </li>
                        <li aria-label="Email" class="vcard-detail pt-1 css-truncate css-truncate-target">
                            <svg class="octicon octicon-mail" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M0 4v8c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1H1c-.55 0-1 .45-1 1zm13 0L7 9 1 4h12zM1 5.5l4 3-4 3v-6zM2 12l3.5-3L7 10.5 8.5 9l3.5 3H2zm11-.5l-4-3 4-3v6z"></path></svg>
                            <a class="u-email" :href="`mailto:${profile.profile.email}`">{{profile.profile.email}}</a>
                        </li>
                        <li aria-label="Blog or website" class="vcard-detail pt-1 css-truncate css-truncate-target">
                            <svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg>
                            <a rel="nofollow me" class="u-url" :href=profile.profile.blog>{{profile.profile.blog}}</a>
                        </li>
                    </ul>
                </div>

                <!--<h1>{{account.user.name}}!</h1> 
                <p>You're logged in with Vue + Vuex & JWT!!</p>
                <h3>Users from secure api end point:</h3>
                <em v-if="profile.loading">Loading users...</em>
                <span v-if="profile.error" class="text-danger">ERROR: {{profile.error}}</span> -->
            </div>
            <div class="content full-height">
                <p v-if="!starred.items"><a @click="getStarred()" class="btn btn-info text-white">Get Starred Repo</a></p>
                <em v-if="starred.loading">Loading starred repos...</em>
                <h2 v-if="starred.items"> My starred repos: </h2>
                <div class="starred-repos border-top" v-if="starred.items">
                    <div v-for="item in starred.items" :key="item.repo.id" class="col-12 d-block width-full py-4 border-bottom">
                        <div class="d-inline-block mb-1">
                            <h3>
                                <a target="_blank" :href="`${item.repo.html_url}`">
                                    <span class="text-normal">{{item.repo.owner.login}} / </span>{{item.repo.name}}
                                </a>
                            </h3>
                        </div>

                        <div class="py-1">
                            <p class="d-inline-block col-9 text-gray pr-4">
                                {{item.repo.description}}
                            </p>
                        </div>

                        <div class="f6 text-gray mt-2">
                            <span :class="`repo-language-color ml-0 ${item.repo.language}`"></span>
                            <span class="mr-3">
                                {{item.repo.language}}
                            </span>
                            <a target="_blank" class="muted-link mr-3" :href="`${item.repo.html_url}/stargazers`">
                            <svg aria-label="star" class="octicon octicon-star" viewBox="0 0 14 16" version="1.1" width="14" height="16" role="img">
                                <path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74L14 6z"></path></svg>
                                {{item.repo.stargazers_count}}
                            </a>

                            <a target="_blank" class="muted-link mr-3" :href="`${item.repo.html_url}/network`">
                                <svg aria-label="fork" class="octicon octicon-repo-forked" viewBox="0 0 10 16" version="1.1" width="10" height="16" role="img"><path fill-rule="evenodd" d="M8 1a1.993 1.993 0 0 0-1 3.72V6L5 8 3 6V4.72A1.993 1.993 0 0 0 2 1a1.993 1.993 0 0 0-1 3.72V6.5l3 3v1.78A1.993 1.993 0 0 0 5 15a1.993 1.993 0 0 0 1-3.72V9.5l3-3V4.72A1.993 1.993 0 0 0 8 1zM2 4.2C1.34 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3 10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3-10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z"></path></svg>
                                {{item.repo.forks_count}}
                            </a>

                            Updated <relative-time :datetime="`${item.repo.updated_at}`" >  {{ item.repo.updated_at | moment("from", "now") }}</relative-time>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
    computed: {
        ...mapState({
            account: state => state.account,
            profile: state => state.users.profile,
            starred: state => state.users.starred
        })
    },
    created () {
        this.myProfile();
    },
    methods: {
        ...mapActions('users', {
            myProfile: 'getProfile',
            getStarred: 'getStarredRepo'
        })
    }
};
</script>